In [1]:
import pandas as pd


data = pd.read_csv("../data/raw/ethiopia_fi_unified_data.csv")
refs = pd.read_csv("../data/raw/reference_codes.csv")


data.head()

,record_id,record_type,category,pillar,indicator,indicator_code,indicator_direction,value_numeric,value_text,value_type,...,impact_direction,impact_magnitude,impact_estimate,lag_months,evidence_basis,comparable_country,collected_by,collection_date,original_text,notes
0,REC_0001,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,22.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Baseline year,NaN
1,REC_0002,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,35.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
2,REC_0003,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,46.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,NaN,NaN
3,REC_0004,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,56.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN
4,REC_0005,observation,NaN,ACCESS,Account Ownership Rate,ACC_OWNERSHIP,higher_better,36.0,NaN,percentage,...,NaN,NaN,NaN,NaN,NaN,Example_Trainee,2025-01-20,NaN,Gender disaggregated,NaN

In [2]:
data.info()
data['record_type'].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 34 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   record_id            43 non-null     object
 1   record_type          43 non-null     object
 2   category             10 non-null     object
 3   pillar               33 non-null     object
 4   indicator            43 non-null     object
 5   indicator_code       43 non-null     object
 6   indicator_direction  33 non-null     object
 7   value_numeric        33 non-null     float64
 8   value_text           10 non-null     object
 9   value_type           43 non-null     object
 10  unit                 33 non-null     object
 11  observation_date     43 non-null     object
 12  period_start         10 non-null     object
 13  period_end           10 non-null     object
 14  fiscal_year          43 non-null     object
 15  gender               43 non-null     object
 16  location             43 non-null     object
 17  region               0 non-null      float64
 18  source_name          43 non-null     object
 19  source_type          43 non-null     object
 20  source_url           31 non-null     object
 21  confidence           43 non-null     object
 22  related_indicator    0 non-null      float64
 23  relationship_type    0 non-null      float64
 24  impact_direction     0 non-null      float64
 25  impact_magnitude     0 non-null      float64
 26  impact_estimate      0 non-null      float64
 27  lag_months           0 non-null      float64
 28  evidence_basis       0 non-null      float64
 29  comparable_country   43 non-null     object
 30  collected_by         43 non-null     object
 31  collection_date      10 non-null     object
 32  original_text        33 non-null     object
 33  notes                0 non-null      float64
dtypes: float64(10), object(24)
memory usage: 11.6+ KB

record_type
observation    30
event          10
target          3
Name: count, dtype: int64

observation 30
event 10
target 3